---
import type { HTMLAttributes } from "astro/types";

import "~/styles/globals.ts";

type Props = HTMLAttributes<"html"> & {
  title?: string;
  description?: string;
};

const { title = "陈昱行 | Chen Yu-hang", description = "在没人看到的地方写写画画。少些技术，多些生活。这里自己的学习生活，偶尔分享一下自己对这个世界的看法", ...html } = Astro.props;
---

<html lang="en"  {...html}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />


    <slot name="head" />
  </head>
  <body>
    <slot name="body" />
  </body>
</html>
